ul {
  list-style: none;
}

.octocat img {
  height:  300px;
  width:  300px;
  border: solid lightgrey 1px;
}
.authors {
  float: right;
  list-style: none;
  padding: 0px;

}
.authors img {
  height: 20px;
  width: 20px;
  border: 0px;

}
.authors a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color:  black;
  font-size: 12px;
  margin-bottom: 0;


}
.octocat {
float: left;
  margin: 3px;
  padding: 5px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.image-footer {
border-bottom: solid lightgrey 1px;
font-family:sans-serif;
color: lightgrey;
padding-top: 0px;
font-size:  12px;



}
.image-caption {
float: right;
}
.image-caption a {
  text-decoration: none;
}
.image-number::before {
  content: "#";
  color: lightgrey;
  font-size: 16px;
}
